body {
  background-color: #fafafa;
}

.leftbox{
  margin: 100px auto;
  width: 430px;
  background-color:rgba(252, 62, 113, 0.3);
}

.rightbox {
  margin: 100px auto;
  width: 430px;
  background-color: darkgrey
  ;

}

.calendar {
  width: 370px;
  box-shadow: 0px 0px 35px -16px rgba(0,0,0,0.75);
  font-family: 'Robot', sans-serif;
  padding: 20px 30px;
  color: #363b41;
  display: inline-block;
}

.header {
border-bottom: 2px solid rgba(0,0,0,0.08)
}

.sub {
  color: lightgrey;
  font-size: 20px;
}


.datecard{
  margin: 20px 0 40px;

}

.date {
  width: 85%;
  height: 100px;
  box-shadow: 0px 0px 52px -18px rgba(0,0,0,0.75);
  padding:30px;
  color: #fff;
}

.number {
  font-size: 20px;
  margin: 20px 0;
  display: inline-block;
}

.form {
  margin: auto;
}














/* .Title {
  text-align: center;
  font-family: 'Raleway';
  font-size: 25px;
  padding:
}

.hamburger {
  width: 25px;
  height: 2px;
  background-color: black;
  margin: 6px;
}

.menu{
border: 25px;
}

.headings {
  text-align: center;
  font-family: 'Raleway';
  font-size: 30px;
  padding-left: 15%;
  width: 700px;
  height: 500px;
  border: 5px solid rgb(134, 138, 163);
  padding: 25px;
  margin: 25px;
  border-radius: 10px;
  box-shadow: 10px 10px 25px grey;
  /*margin-left: 850px;*/
/*}

 ol{
   font-family: 'Raleway';
   font-size: 10px;
   color: rgb(120, 168, 191);
   text-align: left;
   margin-top: 10px;
   padding: 1px;
 }

.line {
  text-align: right;
  padding: none;
  font-size: 9px;
  color:rgb(193, 123, 111);
   /* border-bottom-style: solid;
   width: 650px;
   height: 2px;
   color: rgb(177, 179, 184); */
 }

.sleep{
  margin-top: 111px;
 }

 .day {
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin-top: 8px;
 } */
