.Title {
  text-align: center;
  font-family: 'Raleway';
  font-size: 25px;
}

.hamburger {
  width: 25px;
  height: 2px;
  background-color: black;
  margin: 6px;
}

.menu{
border: 25px;
}

.headings {
  text-align: center;
  font-family: 'Raleway';
  font-size: 30px;
  padding-left: 15%;
  width: 700px;
  height: 300px;
  border: 5px solid rgb(134, 138, 163);
  padding: 25px;
  margin: 25px;
  border-radius: 10px;
  box-shadow: 10px 10px 25px grey;
}

 ol{
   font-family: 'Raleway';
   font-size: 10px;
   color: rgb(120, 168, 191);
   text-align: left;
   margin-top: 10px;
   padding: 1px;
 }

/* .line {
  text-align: right;
  padding: none;
  font-size: 9px;
  color:rgb(193, 123, 111);
   /* border-bottom-style: solid;
   width: 650px;
   height: 2px;
   color: rgb(177, 179, 184); */


.sleep{
  font-size: 25px
 }

 .day {
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin-top: 8px;
   text-align: center;
   padding: none;
   font-size: 15px;
   color:rgb(193, 123, 111);
 }
